chromadb<0.5,>=0.4.15
ctransformers<0.3,>=0.2.27
gradio<4.13,>=4.12
jq<1.7,>=1.6
langchain==0.0.353
numpydoc<1.7,>=1.6
pydantic<2.6,>=2.4.2
sentence-transformers<2.3,>=2.2.2
transformers<4.37,>=4.35
typer<0.10,>=0.9
typing-extensions<4.10,>=4.9
